<div class="grid-container">
    <div class="demo-toolbar">
          <mat-toolbar color="primary">
            <button mat-icon-button>
              <mat-icon>menu</mat-icon>
            </button>
            <span>GSEC MAP</span>
            <span class="demo-fill-remaining"></span>
            <button mat-raised-button color="accent"  (click)="openAddImageDialog()">Add map</button>
            <button mat-stroked-button (click)="openAddFeatureDialog()">Add feature</button>
            <mat-form-field>
              <mat-label>Select mode</mat-label>
              <mat-select [(ngModel)]="selectedMode">
                <mat-option value="VIEW">View</mat-option>
                <mat-option value="DRAW">Draw</mat-option>
                <mat-option value="MODIFY">Modify</mat-option>
              </mat-select>
            </mat-form-field>
          </mat-toolbar>
      </div>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
       <gsecm-list-map-image-group></gsecm-list-map-image-group> 
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <gsecm-m [selectedMode]="selectedMode" >
          <gsecm-overlay>
            <gsecm-overlay-content [feature]="selectedFeature | async">

            </gsecm-overlay-content>
          </gsecm-overlay>
      </gsecm-m>
    </mat-grid-tile>
  </mat-grid-list>
</div>