<div class="grid-container">
  <div class="demo-toolbar">
    <mat-toolbar color="primary">
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <span>GSEC MAP</span>
      <span class="demo-fill-remaining"></span>
    </mat-toolbar>
  </div>
  <gsecm-toolbar 
  (openDialog)="openDialog($event)"
  (selectedModeEvent)="selectedModeEvent($event)"
  (featureTypeEvent)="featureTypeEvent($event)">
</gsecm-toolbar>
  <mat-grid-list cols="4" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <gsecm-list-map-image-group [mapsSettingsItems]="mapsSettingsItems | async" [routerLinkUrl]="'/map'">
      </gsecm-list-map-image-group>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
      <gsecm-m 
      [mapOptions]="mapOptions" 
      (nextMap)="nextMap($event)" >
        <gsecm-overlay>
          <gsecm-overlay-content></gsecm-overlay-content>
        </gsecm-overlay>
      </gsecm-m>
    </mat-grid-tile>
  </mat-grid-list>
</div>
