.demo-toolbar {
    padding: 6px;
  }
  .demo-toolbar .demo-toolbar-icon {
    padding: 0 14px;
  }
  .demo-toolbar .demo-fill-remaining {
    flex: 1 1 auto;
  }
  .demo-toolbar button {
    margin: 0 4px;
  }
  
  .toolbar-container {
   padding-left: 16px;
   flex: 1 1 auto;
  }
  
  .toolbar-container button {
    z-index: 100000;
    margin-top: 3vh;
    float: right;
    margin-right: 6vh;
  }

  .toolbar-container mat-select-field {
    margin: 0 4px;
  }
  
  .grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }