<!-- <gsecm-map [width]="'1000px'" [height]="'700px'">
    <gsecm-view [zoom]="5">
        <gsecm-coordinate [x]="5.795122" [y]="45.210225" [srid]="'EPSG:4326'"></gsecm-coordinate>
    </gsecm-view>
    <gsecm-layer-tile>
        <gsecm-source-osm></gsecm-source-osm>
    </gsecm-layer-tile>
</gsecm-map> -->
<!-- <gsecm-map [width]="'1000px'" [height]="'700px'">
    <gsecm-view [zoom]="2" [maxZoom]="8" [projection]='projection' [center]="coordinane">
    </gsecm-view>
    <gsecm-layer-image [opacity]="opacity" [extent]="extent">
        <gsecm-source-imagestatic [url]="'https://imgs.xkcd.com/comics/online_communities.png'" [projection]="projection" [imageExtent]="extent">
        </gsecm-source-imagestatic>
    </gsecm-layer-image>
</gsecm-map> -->
<!-- <gsecm-header></gsecm-header>
 <gsecm-main>
    <gsecm-m></gsecm-m>
</gsecm-main>
<gsecm-footer></gsecm-footer> -->
<my-dashboard>

</my-dashboard>